<button style="margin-left: 45%;" (click)="display()">Click Me!</button>
<div style="margin-left: 15%; margin-top:5%;">

<form *ngIf='toggle_combine' style="margin-top: 10px">

    <table >
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Title</th>
            <th>Completed</th>
        </tr>
        <tr *ngFor='let i of combinedData| paginate: { itemsPerPage: 5, currentPage: p }' (click)='getSpecificData(i.restId)'>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.title}}</td>
            <td>{{i.completed}}</td>
        </tr>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</form>

<div *ngIf='toggle_specific'>
    <ul>Title: {{idTitle}}</ul>    
    <ul>Completed: {{idCompleted}}</ul>
</div>

</div>

